:root {
  --primary-color: #ccc;
  --secondary-color: #ddd;
  --dark: rgba(0, 0, 0, 0.4);
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
Ulises Styles
*/

/*
Addisu Styles
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

#errorContainer {
  display: flex;
  font-size: 2rem;
  opacity: 1;
  transition: opacity 10s;
  z-index: 1;
}

/* Popup window */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: var(--dark);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 17px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--dark);
  text-decoration: none;
  cursor: pointer;
}

/* popup style */

.showType {
  text-align: center;
}

.show-title {
  font-size: 2.3rem;
  margin-top: 4rem;
}

ul {
  list-style-type: none;
  margin-top: 48px;
}

li {
  list-style-type: none;
  margin: 0 32px;
  color: rgb(67, 4, 4);
}

.formHeader {
  font-size: 1.8rem;
}

.comment-form {
  align-items: flex-start;
}

#msg {
  height: 1.5rem;
  border-radius: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  border-radius: 7px;
  margin-top: 16px;
}

button {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  line-height: 1rem;
  padding: 6px;
  border-radius: 10px;
  font-family: inherit;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}

button:hover {
  background: #1c6ea4;
}

button:active {
  background: #144e75;
}

.showsHolderErr {
  color: red;
  height: 65vh;
  text-align: center;
  font-size: 1.5rem;
}
